.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  box-sizing: border-box;
  flex-basis: 20%;	
  padding: 1.5em;
  font-size: 16px;	
}

@media (min-width: 960px) and (max-width: 1300px) {
  .product {
    flex-basis: 25%;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .product {
    flex-basis: 33.33333%;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .product {
    flex-basis: 50%;
  }
}

@media (max-width: 375px) {
  .product {
    flex-basis: 100%;
  }
}
