.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 70.28% = (960/1366) * 100% */
  width: 70.28%;
  max-width: 1300px;
  min-width: 768px;
  padding: 15px 10px;
}

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(50% - 10px);
  padding: 30px 20px;
  border: 1px solid #d5d4d4;
  margin-bottom: 20px;
}

.card:nth-child(even) {
  margin-left: 10px;
}

.card:nth-child(odd) {
  margin-right: 10px;
}
