.team {
  min-width: 1024px;
  padding-top: 30px;
}

.team__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.team__item {
  width: 360px;
}